[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts
	branch = master
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena
	branch = master
[submodule "layers/meta-intel"]
	path = layers/meta-intel
	url = git://git.yoctoproject.org/meta-intel
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = dunfell
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
	branch = dunfell
